{% extends 'control/template.html' %}
{% load control_filters %}
{% load static %}
{% block title %}
  Doctors | Admin | Mwezai dispensary
{% endblock %}
{% block styles %}
  <link href="{% static 'css/control/serv_doctor.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if user_id %}
    <div class="info_user">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#user_info">Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#userUpdate">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#userStats">Statistics</a>
        </li>
      </ul>

      <div class="tab_container shadow-sm rounded">
        <div id="user_info" class="tab_div">
          <h5>Doctor information..</h5><hr class="my-1" />
          <div class="info">
            <div class="fdback_sms w-100 float-start"></div>
            <span class="d-block w-100"><b>Name:</b> &nbsp; {{ us.fullname }}</span>
            <span><b>Reg date:</b> &nbsp; {{ us.regdate }}</span>
            <span><b>Last login:</b> &nbsp; {{ us.lastlogin }}</span>
            <span><b>Username:</b> &nbsp; {{ us.username }}</span>
            <span><b>Consultation fee:</b> &nbsp; {{ us.price|format_number }} TZS</span>
            <span><b>Password changed:</b> &nbsp; {{ us.password_change }}</span>
            <span><b>Mobile:</b> &nbsp; {{ us.phone|f_phone }}</span>
            <span class="d-block w-100"><b>Description:</b> &nbsp; {{ us.describe|linebreaks }}</span>
            <div class="d-block w-100 float-start py-3 mt-3">
              <button type="button" class="btn btn-lg d-inline-block my-2 me-2 {{ us.block }}" id="block_user_btn">{{ us.block_txt }}</button>
              <button type="button" class="btn btn-lg btn-bblue text-white d-inline-block my-2 me-2" data-bs-toggle="modal" data-bs-target="#confirmResetModel" id="btn_reset">Reset password</button>
              <button type="button" class="btn btn-lg btn-danger d-inline-block my-2" data-bs-toggle="modal" data-bs-target="#confirmDelModel" id="btn_delete">Delete</button>
            </div>
          </div>
        </div>
        <div id="userUpdate" class="tab_div">
          <h5>Update doctor information..</h5><hr class="my-1" />
          <form id="edit_user_form" action="{% url 'service_update' %}" autocomplete="off">
            <div class="formsms"></div>
            <div class="form-floating">
              <input type="text" class="form-control text-ttxt1" id="ed_fullname" value="{{ us.fullname }}" placeholder="p" required />
              <label for="ed_fullname">Full name</label>
              <span id="errFullname"></span>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control text-ttxt1" id="ed_username" value="{{ us.username }}" placeholder="p" required />
              <label for="ed_username">Username</label>
              <span id="errUsername"></span>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control text-ttxt1" id="ed_phone" value="{{ us.phone }}" oninput="val_phone(this)" placeholder="p" />
              <label for="ed_phone">Phone number</label>
              <span id=""></span>
            </div>
            <div class="form-floating">
              <textarea class="form-control text-ttxt1" id="ed_describe" placeholder="p" style="min-height:150px">{{ us.describe|format_desc }}</textarea>
              <label for="ed_describe">Description (optional)</label>
              <span id=""></span>
            </div>
            <input type="hidden" value="{{ us.id }}" id="user_id_input" />
            <input type="hidden" value="4" id="ed_department" />
            <div class="form-floating text-end pe-1">
              <button type="submit" class="btn btn-lg btn-success d-inline-block" id="btn_update_item">Update</button>
            </div>
          </form>
        </div>
        <div id="userStats" class="tab_div">
          <h5>Doctor stats..</h5>
        </div>
      </div>
    </div>

    {% comment %}modal to confirm deleting user acc{% endcomment %}
    <div class="modal fade" id="confirmDelModel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-ttxt1">Confirm delete..</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body text-ttxt1">
            Delete <b id="bold_delete">{{ us.fullname }}</b> permanently..?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="user_del_btn">Delete</button>
          </div>
        </div>
      </div>
    </div>

    {% comment %}modal to confirm resetting{% endcomment %}
    <div class="modal fade" id="confirmResetModel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-ttxt1">Confirm password reset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body text-ttxt1">
            Reset password for <b id="bold_reset">{{ us.fullname }}</b>..?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="user_reset_btn">Reset</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="input-group w-100 float-start searchdiv">
      <input type="text" class="form-control text-ttxt1" id="search_docs_inpt" placeholder="Search doctors.." />
      <a class="btn btn-bblue text-white ms-1" href="" title="Clear filters"><i class="fas fa-refresh"></i></a>
      <button class="btn btn-success ms-1" type="button" data-bs-toggle="modal" data-bs-target="#updatePriceModal" title="Consultation price"><i class="fas fa-edit"></i></button>
    </div>
    <div class="d-block w-100 float-start py-1 table-responsive">
      <table class="table text-ttxt1" id="doctors_table">
        <thead>
          <tr class="bg-bblue text-white text-center">
            <th>S/n</th>
            <th>Reg date</th>
            <th>Last login</th>
            <th>Fullname</th>
            <th>Username</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    {% comment %}modal to update doctor consultation price{% endcomment %}
    <div class="modal fade" id="updatePriceModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content" id="docPriceForm" action="{% url 'service_update' %}" autocomplete="off">
          <div class="modal-header">
            <h5 class="modal-title text-ttxt1">Doctor consultation price</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div id="price_formsms" class="formsms"></div>
            <div class="form-floating">
              <h6 class="mb-2 ps-1" id="current_price">Current price: {{ doc_price|format_number }} TZS</h6>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control text-ttxt1" id="doc_price" onkeyup="val_price(this)" placeholder="p" required />
              <label for="doc_price">Enter new price</label>
              <span id="errDocprice"><i class="fas fa-exclamation-circle"></i> Only numerical values are allowed!</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-danger d-inline-block me-3" data-bs-dismiss="modal" id="cancel_btn">Cancel</button>
            <button type="submit" class="btn btn-lg btn-success d-inline-block" id="confirm_btn">Confirm</button>
          </div>
        </form>
      </div>
    </div>

    {% comment %}modal to filter registration dates{% endcomment %}
    <div class="modal fade" id="dateFilterModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-ttxt1">Reg. date range..</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating">
              <input type="date" max="{% now 'Y-m-d' %}" class="form-control text-ttxt1" id="min_date" placeholder="d" />
              <label for="min_date" class="text-ttxt1">Start date</label>
            </div>
            <div class="form-floating">
              <input type="date" max="{% now 'Y-m-d' %}" class="form-control text-ttxt1" id="max_date" placeholder="d" />
              <label for="max_date" class="text-ttxt1">End date</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-long-arrow-left"></i></button>
            <button type="button" class="btn btn-bblue text-white" id="date_filter_clear"><i class="fas fa-refresh"></i></button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="date_filter_btn"><i class="fas fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>

    {% comment %}modal to filter last_login dates{% endcomment %}
    <div class="modal fade" id="lastlogin_Modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-ttxt1">Last-login date range..</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating">
              <input type="date" max="{% now 'Y-m-d' %}" class="form-control text-ttxt1" id="lastlogin_start" placeholder="d" />
              <label for="lastlogin_start" class="text-ttxt1">Start date</label>
            </div>
            <div class="form-floating">
              <input type="date" max="{% now 'Y-m-d' %}" class="form-control text-ttxt1" id="lastlogin_end" placeholder="d" />
              <label for="lastlogin_end" class="text-ttxt1">End date</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-long-arrow-left"></i></button>
            <button type="button" class="btn btn-bblue text-white" id="lastlogin_clear"><i class="fas fa-refresh"></i></button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="lastlogin_btn"><i class="fas fa-check-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/control/serv_doctor.js' %}"></script>
{% endblock %}
