#navbar div.link a.link3 {
    background-color: #F0F0F0;
    color: #154360;
}

/* medicines list */
/* #container .searchdiv input {
    height: 40px;
    border: 1px solid rgb(66,139,202,.6);
    border-right: none;
    color: #696969;
}
#container .searchdiv button {
    background-color: #428BCA;
    color: #FFFFFF;
    border: 1px solid #428BCA;
}
#container .wrapdiv {
    display: block;
    width: 100%;
    float: left;
    margin-top: 3px;
    padding: 4px;
    text-align: right;
    background-color: rgba(212,212,255,.6);
}
#container .wrapdiv button {
    border: 1px solid #428BCA;
    color: #428BCA;
    font-size: 14px;
    transition: all 0.5s ease;
}
#container table th,
#container table td {
    padding: auto 5px;
    white-space: nowrap;
    text-align: center;
}
#container .wrapdiv button:hover {
    color: #FFFFFF;
    background-color: #428BCA;
} */

/* medicine info tabs */
/* #container .medicine_info {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    color: #696969;
}
#container .medicine_info a {
    color: inherit;
    text-decoration: none;
}
#container .medicine_info ul {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    background-color: rgba(212,212,255,.5);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
}
#container .medicine_info ul li {
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 0;
}
#container .medicine_info ul li a {
    display: block;
    width: auto;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 8px 15px;
}
#container .medicine_info .tab_container {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 15px;
}
#container .medicine_info .tab_container .tab_div {
    display: none;
    width: 100%;
    float: left;
    padding: 0;
}
#container .medicine_info .tab_container .tab_div:nth-child(1) {
    display: block;
}


#container .medicine_info .tab_container .tab_div .info {
    display: block;
    width: 100%;
    float: left;
}
#container .medicine_info .tab_container .tab_div .info span {
    width: 50%;
    float: left;
    padding: 3px 0;
}



#container form .form-floating {
    width: 100%;
    float: left;
    margin: 3px 0;
    position: relative;
    color: #696969;
}
#container form .form-control:focus,
#container form .form-select:focus,
#container .searchdiv input:focus {
    border-color: #428BCA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(66,139,202, 0.6);
}
#container form .form-floating span {
    display: none;
    width: 100%;
    float: left;
    color: red;
    font-size: 12px;
    padding-left: 5px;
}
#container form .formsms {
    display: none;
}
#container form .formsms span {
    display: block;
    width: 100%;
    float: left;
} */






/* datatables styles */
#container .dataTables_filter {
    display: none;
}
#container .dt-buttons {
    margin: 10px 0;
}
#container .dataTables_length {
    border: 1px solid rgba(105,105,105, 0.3);
    float: right;
    color: #696969;
    margin: 10px 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
#container .dataTables_length .form-select {
    border: 1px solid rgba(66,139,202, 0.8);
}
#container .dataTables_info {
    width: auto;
    float: left;
    color: #696969;
    margin-top: 15px;
    margin-bottom: 5px;
}
#container table th input,
#container table th select {
    display: inline-block;
    border: 1px solid rgb(66,139,202,.6);
    padding-left: 3px;
    font-size: 13px;
    height: 30px;
    border-radius: 3px;
    width: 120px;
}
#container .dataTables_length .form-select:focus,
#container table th input:focus,
#container table th select:focus,
#dateFilterModal input:focus {
    border-color: #428BCA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(66,139,202, 0.6);
    outline: none;
}
#container .dataTables_paginate {
    width: auto;
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}
#container .dataTables_paginate ul {
    border: 1px solid rgb(66,139,202,.6);
    border-radius: 5px;
    color: #696969;
}
#container .dataTables_paginate ul li a:hover {
    background-color: rgb(66,139,202,.8);
    color: #fff;
}
#container .dataTables_paginate ul li a:focus {
    box-shadow: none;
}


#container .searchdiv input {
    border: 1px solid rgb(66,139,202,.4);
}



/* medicine info tabs */
#container .medicine_info {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    color: #696969;
}
#container .medicine_info a {
    color: inherit;
    text-decoration: none;
}
#container .medicine_info ul {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    background-color: rgba(212,212,255,.5);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
}
#container .medicine_info ul li {
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 0;
}
#container .medicine_info ul li a {
    display: block;
    width: auto;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 8px 15px;
}
#container .medicine_info .tab_container {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 15px;
}
#container .medicine_info .tab_container .tab_div {
    display: none;
    width: 100%;
    float: left;
    padding: 0;
}
#container .medicine_info .tab_container .tab_div:nth-child(1) {
    display: block;
}


#container .medicine_info .tab_container .tab_div .info {
    display: block;
    width: 100%;
    float: left;
}
#container .medicine_info .tab_container .tab_div .info span {
    width: 50%;
    float: left;
    padding: 3px 0;
}



#container form .form-floating {
    width: 100%;
    float: left;
    margin: 3px 0;
    position: relative;
    color: #696969;
}
#container form .form-control:focus,
#container form .form-select:focus,
#container .searchdiv input:focus {
    border-color: #428BCA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(66,139,202, 0.6);
}
#container form .form-floating span {
    display: none;
    width: 100%;
    float: left;
    color: red;
    font-size: 12px;
    padding-left: 5px;
}
#container form .formsms {
    display: none;
}
#container form .formsms span {
    display: block;
    width: 100%;
    float: left;
}